<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbao.east.mapper.ExperienceGoldMapper" >
  <resultMap id="BaseResultMap" type="com.rbao.east.entity.ExperienceGold" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="experience_gold_interest" property="experienceGoldInterest" jdbcType="DECIMAL" />
    <result column="experience_gold_addtime" property="experienceGoldAddtime" jdbcType="TIMESTAMP" />
    <result column="experience_gold_repaytime" property="experienceGoldRepaytime" jdbcType="TIMESTAMP" />
    <result column="experience_gold_status" property="experienceGoldStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, experience_gold_interest, experience_gold_addtime, experience_gold_repaytime, 
    experience_gold_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rb_experience_gold
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="getExperienceGoldListByStatus" resultMap="BaseResultMap" parameterType="Map">
  	select * from rb_experience_gold e where 
				e.experience_gold_status=0
			
			and NOW()> e.experience_gold_repaytime
		
	
  </select>
  
  
  <select id="getExperienceGoldByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from rb_experience_gold e where e.userId=#{userId,jdbcType=INTEGER}
				
			
			
		
	
  </select>
  <!-- 根据参数得到体验金 -->
  <select id="getExperienceGoldByParam" resultMap="BaseResultMap" parameterType="Map">
  	select * from rb_experience_gold e 
	where 1 = 1 
	<if test="userId != null and userId != ''">
		and e.userId = #{userId}
	</if>
	<if test="experienceStatus != null and experienceStatus != ''">
		and e.experience_gold_status = #{experienceStatus}
	</if>

  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rb_experience_gold
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rbao.east.entity.ExperienceGold" >
    insert into rb_experience_gold (id, userId, experience_gold_interest, 
      experience_gold_addtime, experience_gold_repaytime, 
      experience_gold_status)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{experienceGoldInterest,jdbcType=DECIMAL}, 
      #{experienceGoldAddtime,jdbcType=TIMESTAMP}, #{experienceGoldRepaytime,jdbcType=TIMESTAMP}, 
      #{experienceGoldStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rbao.east.entity.ExperienceGold" >
    insert into rb_experience_gold
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="experienceGoldInterest != null" >
        experience_gold_interest,
      </if>
      <if test="experienceGoldAddtime != null" >
        experience_gold_addtime,
      </if>
      <if test="experienceGoldRepaytime != null" >
        experience_gold_repaytime,
      </if>
      <if test="experienceGoldStatus != null" >
        experience_gold_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="experienceGoldInterest != null" >
        #{experienceGoldInterest,jdbcType=DECIMAL},
      </if>
      <if test="experienceGoldAddtime != null" >
        #{experienceGoldAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="experienceGoldRepaytime != null" >
        #{experienceGoldRepaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="experienceGoldStatus != null" >
        #{experienceGoldStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rbao.east.entity.ExperienceGold" >
    update rb_experience_gold
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="experienceGoldInterest != null" >
        experience_gold_interest = #{experienceGoldInterest,jdbcType=DECIMAL},
      </if>
      <if test="experienceGoldAddtime != null" >
        experience_gold_addtime = #{experienceGoldAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="experienceGoldRepaytime != null" >
        experience_gold_repaytime = #{experienceGoldRepaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="experienceGoldStatus != null" >
        experience_gold_status = #{experienceGoldStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rbao.east.entity.ExperienceGold" >
    update rb_experience_gold
    set userId = #{userid,jdbcType=INTEGER},
      experience_gold_interest = #{experienceGoldInterest,jdbcType=DECIMAL},
      experience_gold_addtime = #{experienceGoldAddtime,jdbcType=TIMESTAMP},
      experience_gold_repaytime = #{experienceGoldRepaytime,jdbcType=TIMESTAMP},
      experience_gold_status = #{experienceGoldStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 得到已发放 体验金利息总额-->
  <select id="getAllExperienceGoldByParam" resultType="BIGDECIMAL" parameterType="Map">
  	select SUM(e.experience_gold_interest) from rb_experience_gold e 
	where 1 = 1 and e.experience_gold_status=1
	<if test="startTime != null and startTime != ''">
		<![CDATA[AND e.experience_gold_repaytime >= CONCAT(#{startTime}, ' 00:00:00') AND e.experience_gold_repaytime <= CONCAT(#{startTime}, ' 00:00:00')]]>
	</if>

  </select>
</mapper>