<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbao.east.mapper.NoticeMapper">
		<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache" /> -->
	<resultMap id="BaseResultMap" type="com.rbao.east.entity.Notice">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
		<result column="notice_code" property="noticeCode" jdbcType="VARCHAR" />
		<result column="notice_status" property="noticeStatus"
			jdbcType="SMALLINT" />
		<result column="notice_sequence" property="noticeSequence"
			jdbcType="SMALLINT" />
		<result column="notice_type_id" property="noticeTypeId"
			jdbcType="SMALLINT" />
		<result column="message" property="message" jdbcType="SMALLINT" />
		<result column="email" property="email" jdbcType="SMALLINT" />
		<result column="phone" property="phone" jdbcType="SMALLINT" />
		<result column="notice_addtime" property="noticeAddtime"
			jdbcType="TIMESTAMP" />
		<result column="notice_addip" property="noticeAddip" jdbcType="VARCHAR" />
		<association property="noticeType" column="notice_type_id"
			javaType="com.rbao.east.entity.NoticeType" select="com.rbao.east.mapper.NoticeTypeMapper.selectByPrimaryKey" />
	</resultMap>
	
	<select id="selectNotices" resultMap="BaseResultMap">
		SELECT *
		FROM rb_notice where  notice_status = 1
		
		
		ORDER BY notice_sequence asc
	</select>
	
	<select id="selectByNoticeCode" resultMap="BaseResultMap" parameterType="com.rbao.east.entity.Notice">
		SELECT * FROM rb_notice n WHERE 1=1
		<if test="noticeCode != null and noticeCode != ''">
			and n.notice_code = #{noticeCode}
		</if>
		and n.notice_status = 1
	</select>
	
	<select id="selectTotalCount" resultType="int"
		parameterType="com.rbao.east.entity.Notice">
		select
		count(*)
		from rb_notice where 1=1
		<if test="noticeTitle != null and noticeTitle != ''">
			and notice_title=#{noticeTitle}
		</if>
		<if test="noticeCode != null and noticeCode != ''">
			and notice_code=#{noticeCode}
		</if>
		<if test="noticeStatus != null">
			and notice_status=#{noticeStatus}
		</if>
		<if test="noticeSequence != null">
			and notice_sequence=#{noticeSequence}
		</if>
		<if test="noticeTypeId != null">
			and notice_type_id=#{noticeTypeId}
		</if>
		<if test="message != null">
			and message=#{message}
		</if>
		<if test="email != null">
			and email=#{email}
		</if>
		<if test="phone != null">
			and phone=#{phone}
		</if>
		<if test="noticeAddtime != null">
			and notice_addtime=#{noticeAddtime}
		</if>
		<if test="noticeAddip != null and noticeAddip != ''">
			and notice_addip=#{noticeAddip}
		</if>
	</select>

	<select id="selectByEntity" resultMap="BaseResultMap"
		parameterType="com.rbao.east.entity.Notice">
		select
		*
		from rb_notice where 1=1
		<if test="noticeTitle != null and noticeTitle != ''">
			and notice_title=#{noticeTitle}
		</if>
		<if test="noticeCode != null and noticeCode != ''">
			and notice_code=#{noticeCode}
		</if>
		<if test="noticeStatus != null">
			and notice_status=#{noticeStatus}
		</if>
		<if test="noticeSequence != null">
			and notice_sequence=#{noticeSequence}
		</if>
		<if test="noticeTypeId != null">
			and notice_type_id=#{noticeTypeId}
		</if>
		<if test="message != null">
			and message=#{message}
		</if>
		<if test="email != null">
			and email=#{email}
		</if>
		<if test="phone != null">
			and phone=#{phone}
		</if>
		<if test="noticeAddtime != null">
			and notice_addtime=#{noticeAddtime}
		</if>
		<if test="noticeAddip != null and noticeAddip != ''">
			and notice_addip=#{noticeAddip}
		</if>
		order by notice_sequence
	</select>

	<sql id="Base_Column_List">
		id, notice_title, notice_code, notice_status, notice_sequence,
		notice_type_id, message,
		email, phone, notice_addtime, notice_addip
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from rb_notice
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from rb_notice
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.rbao.east.entity.Notice">
		insert into rb_notice (id, notice_title, notice_code,
		notice_status, notice_sequence, notice_type_id,
		message, email, phone,
		notice_addtime, notice_addip)
		values (#{id,jdbcType=INTEGER}, #{noticeTitle,jdbcType=VARCHAR},
		#{noticeCode,jdbcType=VARCHAR},
		#{noticeStatus,jdbcType=SMALLINT}, #{noticeSequence,jdbcType=SMALLINT},
		#{noticeTypeId,jdbcType=SMALLINT},
		#{message,jdbcType=SMALLINT}, #{email,jdbcType=SMALLINT}, #{phone,jdbcType=SMALLINT},
		#{noticeAddtime,jdbcType=TIMESTAMP}, #{noticeAddip,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.rbao.east.entity.Notice">
		insert into rb_notice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="noticeTitle != null">
				notice_title,
			</if>
			<if test="noticeCode != null">
				notice_code,
			</if>
			<if test="noticeStatus != null">
				notice_status,
			</if>
			<if test="noticeSequence != null">
				notice_sequence,
			</if>
			<if test="noticeTypeId != null">
				notice_type_id,
			</if>
			<if test="message != null">
				message,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="noticeAddtime != null">
				notice_addtime,
			</if>
			<if test="noticeAddip != null">
				notice_addip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="noticeTitle != null">
				#{noticeTitle,jdbcType=VARCHAR},
			</if>
			<if test="noticeCode != null">
				#{noticeCode,jdbcType=VARCHAR},
			</if>
			<if test="noticeStatus != null">
				#{noticeStatus,jdbcType=SMALLINT},
			</if>
			<if test="noticeSequence != null">
				#{noticeSequence,jdbcType=SMALLINT},
			</if>
			<if test="noticeTypeId != null">
				#{noticeTypeId,jdbcType=SMALLINT},
			</if>
			<if test="message != null">
				#{message,jdbcType=SMALLINT},
			</if>
			<if test="email != null">
				#{email,jdbcType=SMALLINT},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=SMALLINT},
			</if>
			<if test="noticeAddtime != null">
				#{noticeAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="noticeAddip != null">
				#{noticeAddip,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rbao.east.entity.Notice">
		update rb_notice
		<set>
			<if test="noticeTitle != null">
				notice_title = #{noticeTitle,jdbcType=VARCHAR},
			</if>
			<if test="noticeCode != null">
				notice_code = #{noticeCode,jdbcType=VARCHAR},
			</if>
			<if test="noticeStatus != null">
				notice_status = #{noticeStatus,jdbcType=SMALLINT},
			</if>
			<if test="noticeSequence != null">
				notice_sequence = #{noticeSequence,jdbcType=SMALLINT},
			</if>
			<if test="noticeTypeId != null">
				notice_type_id = #{noticeTypeId,jdbcType=SMALLINT},
			</if>
			<if test="message != null">
				message = #{message,jdbcType=SMALLINT},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=SMALLINT},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=SMALLINT},
			</if>
			<if test="noticeAddtime != null">
				notice_addtime = #{noticeAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="noticeAddip != null">
				notice_addip = #{noticeAddip,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rbao.east.entity.Notice">
		update rb_notice
		set notice_title = #{noticeTitle,jdbcType=VARCHAR},
		notice_code = #{noticeCode,jdbcType=VARCHAR},
		notice_status = #{noticeStatus,jdbcType=SMALLINT},
		notice_sequence = #{noticeSequence,jdbcType=SMALLINT},
		notice_type_id = #{noticeTypeId,jdbcType=SMALLINT},
		message = #{message,jdbcType=SMALLINT},
		email = #{email,jdbcType=SMALLINT},
		phone = #{phone,jdbcType=SMALLINT},
		notice_addtime = #{noticeAddtime,jdbcType=TIMESTAMP},
		notice_addip = #{noticeAddip,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>