<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbao.east.mapper.OtherMessageMapper" >
 	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache" /> -->
  <resultMap id="BaseResultMap" type="com.rbao.east.entity.OtherMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="personal_ability" property="personalAbility" jdbcType="VARCHAR" />
    <result column="personal_hobbies" property="personalHobbies" jdbcType="VARCHAR" />
    <result column="other_state" property="otherState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, personal_ability, personal_hobbies, other_state
  </sql>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rb_other_message
    where user_id = #{userId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rb_other_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rb_other_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rbao.east.entity.OtherMessage" >
    insert into rb_other_message (id, user_id, personal_ability, 
      personal_hobbies, other_state)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{personalAbility,jdbcType=VARCHAR}, 
      #{personalHobbies,jdbcType=VARCHAR}, #{otherState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rbao.east.entity.OtherMessage" >
    insert into rb_other_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="personalAbility != null" >
        personal_ability,
      </if>
      <if test="personalHobbies != null" >
        personal_hobbies,
      </if>
      <if test="otherState != null" >
        other_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="personalAbility != null" >
        #{personalAbility,jdbcType=VARCHAR},
      </if>
      <if test="personalHobbies != null" >
        #{personalHobbies,jdbcType=VARCHAR},
      </if>
      <if test="otherState != null" >
        #{otherState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rbao.east.entity.OtherMessage" >
    update rb_other_message
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="personalAbility != null" >
        personal_ability = #{personalAbility,jdbcType=VARCHAR},
      </if>
      <if test="personalHobbies != null" >
        personal_hobbies = #{personalHobbies,jdbcType=VARCHAR},
      </if>
      <if test="otherState != null" >
        other_state = #{otherState,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rbao.east.entity.OtherMessage" >
    update rb_other_message
    set user_id = #{userId,jdbcType=INTEGER},
      personal_ability = #{personalAbility,jdbcType=VARCHAR},
      personal_hobbies = #{personalHobbies,jdbcType=VARCHAR},
      other_state = #{otherState,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>