<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbao.east.mapper.SysConfigParamsMapper" >
  <resultMap id="BaseResultMap" type="com.rbao.east.entity.SysConfigParams" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="sys_value" property="sysValue" jdbcType="VARCHAR" />
    <result column="sys_key" property="sysKey" jdbcType="VARCHAR" />
    <result column="sys_type" property="sysType" jdbcType="VARCHAR" />
    <result column="input_type" property="inputType" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="limit_code" property="limitCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.rbao.east.entity.SysConfigParams" extends="BaseResultMap" >
    <result column="sys_value_big" property="sysValueBig" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
  
  
  
  
  
  
  <select id="selectAll" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_config_params
    order by id asc;
  </select>
  <select id="selectByType" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_config_params
    where sys_type = #{type,jdbcType=VARCHAR} order by id asc
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <sql id="Base_Column_List" >
    id, sys_name, sys_value, sys_key, sys_type, input_type, remark, limit_code
  </sql>
  <sql id="Blob_Column_List" >
    sys_value_big
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_config_params
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_config_params
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rbao.east.entity.SysConfigParams" >
    insert into sys_config_params (id, sys_name, sys_value, 
      sys_key, sys_type, input_type, 
      remark, limit_code, sys_value_big
      )
    values (#{id,jdbcType=INTEGER}, #{sysName,jdbcType=VARCHAR}, #{sysValue,jdbcType=VARCHAR}, 
      #{sysKey,jdbcType=VARCHAR}, #{sysType,jdbcType=VARCHAR}, #{inputType,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{limitCode,jdbcType=VARCHAR}, #{sysValueBig,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rbao.east.entity.SysConfigParams" >
    insert into sys_config_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="sysValue != null" >
        sys_value,
      </if>
      <if test="sysKey != null" >
        sys_key,
      </if>
      <if test="sysType != null" >
        sys_type,
      </if>
      <if test="inputType != null" >
        input_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="limitCode != null" >
        limit_code,
      </if>
      <if test="sysValueBig != null" >
        sys_value_big,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null" >
        #{sysValue,jdbcType=VARCHAR},
      </if>
      <if test="sysKey != null" >
        #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        #{inputType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="limitCode != null" >
        #{limitCode,jdbcType=VARCHAR},
      </if>
      <if test="sysValueBig != null" >
        #{sysValueBig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rbao.east.entity.SysConfigParams" >
    update sys_config_params
    <set >
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null" >
        sys_value = #{sysValue,jdbcType=VARCHAR},
      </if>
      <if test="sysKey != null" >
        sys_key = #{sysKey,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        sys_type = #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        input_type = #{inputType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="limitCode != null" >
        limit_code = #{limitCode,jdbcType=VARCHAR},
      </if>
      <if test="sysValueBig != null" >
        sys_value_big = #{sysValueBig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rbao.east.entity.SysConfigParams" >
    update sys_config_params
    set sys_name = #{sysName,jdbcType=VARCHAR},
      sys_value = #{sysValue,jdbcType=VARCHAR},
      sys_key = #{sysKey,jdbcType=VARCHAR},
      sys_type = #{sysType,jdbcType=VARCHAR},
      input_type = #{inputType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      limit_code = #{limitCode,jdbcType=VARCHAR},
      sys_value_big = #{sysValueBig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rbao.east.entity.SysConfigParams" >
    update sys_config_params
    set sys_name = #{sysName,jdbcType=VARCHAR},
      sys_value = #{sysValue,jdbcType=VARCHAR},
      sys_key = #{sysKey,jdbcType=VARCHAR},
      sys_type = #{sysType,jdbcType=VARCHAR},
      input_type = #{inputType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      limit_code = #{limitCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>