@CHARSET "UTF-8";
.on{
	background-color: #ee2121;
	color: white;
}

.j-ab-add {
	padding: 40px 30px;
	color: #666;
	line-height: 25px;
	font-size: 15px;
}

.j-ab-add dl {
	width: 80%;
	margin: 0 auto 20px;;
}

.j-ab-add dl:after {
	content: '';
	height: 0;
	display: block;
	overflow: hidden;
	clear: both;
	zoom: 1;
}

.j-ab-add dl dd {
	float: left;
	line-height: 10px;
	margin-right: 30px;
	font-size: 14px;
}

.j-ab-add h2 {
	width: 100%;
	height: 70px;
	line-height: 76px;
	font-size: 20px;
	font-weight: bold;
	text-indent: 35px;
	color: #f78182;
	text-align: center;
}

.j-ab-add h1 {
	text-align: center;
}

.j-ab-add p {
	padding-top: 20px;
	letter-spacing: 3px;
}

#pre a,#next a {
	float: right;
}

.right_div {
	margin-bottom: 25px;
}

.right_div p strong {
    font-weight: bold;
}

.right_div_title {
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #D0D0D0;
}

.right_div_title a {
	float: right;
	color: #397CC0;
	margin-right: 6px;
}

.right_div_body {
	padding-bottom: 7px;
}

.right_div_body ul {
	line-height: 24px;
}

.right_div_body ul li {
	vertical-align: bottom;
}

.right_div_body ul li a {
	color: #666;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.right_div_body ul li a p {
	float: right;
	padding-right: 8px;
}

.right_div_body table {
	width: 100%;
}

.right_div_body table thead th {
	color: #999999;
}

.right_div_body table thead th,.right_div_body table tbody tr td {
	text-align: center;
}

.right_div_body table tbody tr td .top3 {
	background: url(../images/tb4.png) no-repeat 11px -5px;
}

.right_div_body table tbody tr td .top5 {
	background: url(../images/tb3.png) no-repeat 11px -2px;
}

.paiming {
	color: #FFF;
	font-size: 8px;
}

.right_div_body table tbody tr td:nth-child(3) span {
	color: #F7772D;
	float: left;
	left: 24%;
	position: relative;
}

.relationContent {
	margin-top: 60px;
}

.relationContentTitle {
	font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.relationContentBody {
	padding-top: 9px;
	width: 620px;
	margin: 0 auto;
	font-weight: 400;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
}

.relationContentBody span {
	width: 300px;
	float: left;
	line-height: 25px;
}

.relationContentBody .right {
	margin-left: 20px;
}

.J-banner {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
}
.currentTitle{
    color: #EA1624;
}